<nav>
    <div class="nav__title">
        <a href="/">Home Page</a>
    </div>
    <ul>
        <li><a href="/">All Todos</a></li>
        <li><a href="/todos/create-task">Create New Task</a></li>
    </ul>
</nav>