<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %> 
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="create-task">
        <form action="">
            <label for="title">Todo Title</label>
            <input type="text" name="title" id="title" required>
            <label for="description">Todo Description</label>
            <textarea name="description" id="description" required></textarea>
                <button>Submit</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>